{% extends "layout.html" %}

{% block body %}


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">The UI for the pathfinder algorithm comparison</h1>
            <br/>
            <form method="POST" action="{{url_for('process_selected_map')}}">
                <div class="col-md-12 form-group form-inline">
                    <div class="row">
                        <div class="col">First select a map for path finding</div>
                        <div class="col-8">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    id="mapSelect"
                                    onchange="selectMap()">
                                <option value="" selected>Select a map</option>
                                {% for map in map_list %}
                                <option value={{map}}>{{map}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group form-inline">
                    <div class="row">
                        <div class="col-4">Left click selected preview image for start coordinates</div>
                        <div class="col">
                            {{ form.start_x.label}} {{ form.start_x }}
                        </div>
                        <div class="col">
                            {{ form.start_y.label }}
                            {{ form.start_y }}
                        </div>

                    </div>
                </div>
                <br/>
                <div class="col-md-12 form-group form-inline">
                    <div class="row">
                        <div class="col-4">Right click selected preview image for start coordinates</div>
                        <div class="col">
                            {{ form.end_x.label}} {{ form.end_x }}
                        </div>
                        <div class="col">
                            {{ form.end_y.label }}
                            {{ form.end_y }}
                        </div>

                    </div>
                </div>
                <br/>
                <div class="col-md-12 form-group form-inline">
                    <div class="row">
                        <div class="col">Select which algorithms you want to use:</div>
                        <div class="col">
                            {{ form.jps.label }} {{ form.jps }}&nbsp; &nbsp;
                            {{ form.ida.label }} {{ form.ida }}&nbsp; &nbsp;
                            {{ form.a_star.label }} {{ form.a_star }}
                        </div>

                        <div class="col">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                                <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
                                        id="map_select"
                                        name="map_select" value="">Continue
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 p-3 p-lg-5 pt-lg-3">
            <p id="preview">Select a map to display preview</p>
            <img id="mapPreview" style="cursor:crosshair" width="256px" src="" class="img-fluid"/>
            <canvas id="canvas" width="256" height="256" style=""></canvas>
        </div>
    </div>
</div>

{% endblock %}